{% extends 'accounts/myprofile_base.html' %}
{% load static %}
{% load users_extras %}

{% block head-up %}
    <script>
        var isAjaxNow = false;
        var isBookmarkNow = false;
    </script>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/articles/main.css" %}">

    <style>
        body {
            background: white;
        }
    </style>
{% endblock %}

{% block profile_data %}
    <a class="btn-blue btn" href="{% url 'create_article' %}?type={%if request.GET.tab == '0'%}alerts{%elif request.GET.tab == '1'%}digests{%else%}analitics{%endif%}">Добавить публикацию</a>

    <div class="container mb-5 mt-3">
        {% if last_id == 'last' %}
            <p class="text-center">Не найдено публикаций</p>
        {% else %}
            <div class="row oneheight" data-last-id="{{ last_id }}" id="article_wrap">

                {% for article in articles %}
                    {% if request.GET.tab == "3" %}
                        {% include 'articles/one_article_on_moder.html' %}
                    {% else %}
                        {% include 'articles/one_article.html' %}
                    {% endif %}

                {% endfor %}

            </div>

            <div class="text-center">
                <a class="btn btn-blue mt-5" id="load-btn" onclick="load_more($('#article_wrap').attr('data-last-id'));return false;" href="/">Загрузить еще</a>
            </div>
        {% endif %}

    </div>
{% endblock %}



{% block js %}
<script>
    function get_url(last_id) {
        var tab = "{{ request.GET.tab }}";
        var url = "{% url 'my_profile' %}" + "?last_id=" + last_id.toString() + '&tab=' + tab + '&query=' + '{{ request.GET.query }}';
        return url;
    }
</script>

<script src="{% static 'js/post_ajax.js' %}"></script>
<script src="{% static 'js/bookmarks.js' %}"></script>
<script src="{% static 'js/articles.js' %}"></script>

{% endblock %}