{% extends 'base.html' %}

{% block head-down %}
    <style>
        body {
            background: #F4F4F4;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="mt-5 text-center mb-3">Восстановление пароля</h1>
        <div class="card-d">
            {% if reseted %}
            <p class="w-75 text-center" style="margin: 20px auto;">Данные о восстановлении отправлены на email, привязанный к аккаунту. Если письмо в течение 5 минут не придет, проверьте папку "спам".</p>
            {% else %}
            <form action="" class="mt-4 form-input-effect" id="form-input-effect" method="post">
                <h4 class="text-center mb-4">Укажите данные о вашем аккаунтее</h4>
                {% if gs_auth_error %}
                    <div class="error-hide mb-5">{{ gs_auth_error }}</div>
                {% endif %}
                <div class="container mb-3">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                    <div class="error-hide">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group mb-4">
                        {% if form.errors.username %}
                            <div class="error-hide">{{ form.errors.username }}</div>
                        {% endif %}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="text-center mt-3 mb-2">
                    <input type="submit" value="Продолжить" class="btn btn-grey btn-big mb-2 mt-3">
                </div>
            </form>
            {% endif %}
        </div>
        <div class="card-d mt-3 mb-3">
            <p class=" text-center mb-0"><a class="blue-link" href="{% url 'login' %}">Войти в аккаунт</a></p>
        </div>
    </div>
{% endblock %}