<div>
    <ul class="posts">
       {% for post in posts %}
            {% if post.date_end and not post.finish %}
                {% if post.date_end < date_now %}
                    {% include 'post.html' %}
                {% endif %}
            {% endif %}
       {% endfor %}
       {% for post in posts_exec %}
        {% if post.date_end and not post.finish %}
        {% if post.date_end < date_now %}
            {% if post.author_id != post.exec_id %}
                {% include 'post.html' %}
            {% endif %}
            {% endif %}
            {% endif %}

       {% endfor %}
    </ul>
</div>