{% extends 'crm/base.html' %}


{% block content %}

    <div class="container mb-5">
        <h2 class="mt-5 text-center mb-3">Компании</h2>
        <div class="row mb-3 mt-3">
            <p>ФИЛЬТР</p>
            <div class=" w-100">
                <form action="">
                    <div class="input-group w-100 mb-3">
                        <input type="text" class="form-control" required name="s" id="myInput" placeholder="Поиск" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <input class="btn btn-blue w-100" type="submit" id="button-addon1" value="Искать среди всех">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table id="myTable" class="table table-responsive-sm table-crm-companies">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">ИНН</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Email</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr class="tb-crm-company">
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.inn }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.email }}</td>

                    {% if company.is_accepted %}
                        <td><a href="" class="text-success">Одобрено</a></td>
                    {% elif company.is_closed %}
                        <td><p class="text-danger">Отказано</p></td>
                    {% elif company.on_moder %}
                        <td><a {% if request.user.is_superuser or company.moder == user %}href="{% url 'moder_company' login=company.id %}"{% else %}onclick="not_enough_permissions();return false;" href="#"{% endif %}>Модерируется ({{ company.moder.username }}) <i class="mdi mdi-chevron-right"></i></a></td>
                    {% else %}
                        <td><a href="{% url 'moder_company' login=company.id %}">Модерировать <i class="mdi mdi-chevron-right"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr.tb-crm-company").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        
        function not_enough_permissions() {
            swal('Недостаточно прав!', {
                icon: "error",
            });
        }
    </script>
{% endblock %}