{% load static %}
{% load users_extras %}

<div class="col-md-12 col-sm-12 mt-2 mb-2">
    <div class="news5g-card middleclick-newtab-link upright-block news5g-card-clickable" data-link="{% url 'article' slug=article.slug %}" onclick="document.location = '{% url 'article' slug=article.slug %}'">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="news5g-card-top-wrap">
                    {% if request.user.is_authenticated %}
                        <a href="" data-id="{{ article.id }}" data-type="article" data-action="bookmark" class="news5g-star" title="{% if article.bookmarkarticle_set.all|user_in:request.user %}Убрать из избранного{% else %}Добавить в избранное{% endif %}"><i class="icon-star {% if article.bookmarkarticle_set.all|user_in:request.user %}active{% endif %}"></i></a>
                    {% endif %}

                    <div class="news5g-card-top" style="background: url('{{ article.image.url }}');background-position: center center; background-size: cover; background-repeat: no-repeat;background-color: #ffffff;"></div>
                </div>
            </div>
            <div class=" col-12 col-md-8">
                <div class="news5g-card-bottom">
                    <h4 class="card-title">{{ article.title }}</h4>
                        <p class="card-text">{{ article.description }}</p>
                        <p class="card-views no-hover moder-views">Просмотров: {{article.views}} <span class="ml-5 no-hover"><span class="no-hover" style="font-size: 1.4rem;">○</span> {{ article.type.name }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>