:root {
  --gutter: 1rem;
}

.app {
    padding: var(--gutter) 0;
    display: grid;
    background-color: #e9e9e9;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    border-radius: 1rem;
}

.app > * {
    grid-column: 2 / -2;
}

.app > .full {
    grid-column: 1 / -1;
}

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(31% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);

    overflow-x: auto;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.item {
    scroll-snap-align: center;
}

.font-normal {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.bg-gray-card {
    background: #B3B3B3!important;
}

.bg-dark-card {
    background: #303030!important;
}

.modestin-card {
    color: white!important;
    flex: 1;
}

.font-medium {
    font-size: 1.15rem;
}
@media (min-width: 771px) {
    h3.logo-font {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    h3.logo-font {
        font-size: 1.75rem;
    }
}