.user {
    border: 1px solid #dee2e6;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

.user:hover {
    box-shadow: 0 4px 7px rgba(0,0,0,.12);
}

.user {
    position: relative; /* указывать обязательно */
}
.close-block {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    /*width: 16px;*/
    /*height: 16px;*/
}



.close-block .mdi.mdi-dots-horizontal {
    font-size: 1.6rem;
}
.close-block .nav-link:hover {
    background: rgba(0,0,0,.1);
    border-radius: 100px;
    cursor: pointer;
}
.user .text-center.hovr:hover {
    color: #85B7CD;
    cursor: pointer;
}
